@{
    ViewData["Title"] = "About Us";
}

<head>
    <link rel="stylesheet" href="~/css/giphy.gif" />
</head>

<div class="text-center text-black">
    <h1 class="display-4">About Us</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="bg-success border-5">
        Welcome to Badminton Booking System. A platform designed to make badminton court reservations seamless and efficient. We understand the challenges players face when trying to book courts to play some badminton with fellow enthusiasts. That’s why we created an innovative solution to solve your problem.

        Our objective is to give badminton players whether you’re a casual player, a competitive athlete or a coach, a reliable booking system. With just a few clicks, you can find, book and manage courts at your preferred locations, anytime, anywhere.

        At Badminton Booking System, we are committed to enhancing your badminton experience. We foster a vibrant community of players, enabling you to connect, organize matches and stay updated on local events.

        Join us in revolutionizing the way badminton is played and enjoyed. Whether you’re looking to book a court for a quick game or plan a tournament, we’ve got you covered. Let’s make every match count!

        Thank you for choosing Badminton Booking System. Let’s serve up the future of badminton together!
    </div>
</div>

<div class="text-center">
    <img src="~/css/giphy.gif" width="150px" />
</div>
